/.app/
/build/data/config/client/
/build/data/config/server/
/build/logs/
/build/drivers/kkt/
/build/ticket-place-server.exe
/build/ticket-place-server-x64.exe
/build/ticket-place-server
/.idea/
.DS_Store