/.app/
/release/data/config/client/
/release/data/config/server/
/release/logs/
/release/drivers/
/release/ticket-place-server.exe
/release/ticket-place-server-x64.exe
/release/ticket-place-server
/.idea/
.DS_Store