/.app/
/release
/release/data/config/client/
/release/data/config/server/
/release/logs/
/release/ticket-place-server.exe
/release/ticket-place-server-x64.exe
/release/ticket-place-server
/.idea/
.DS_Store
/client
/adapter/src/module-info.java.dump
