<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATH">log</Property>
        <Property name="ROLLING_FILE_NAME">app</Property>
        <Property name="LOG_PATTERN">%highlight%{%d %-5level: [%t %c:%L] -> %msg %throwable{short} %n}</Property>
        <Property name="FILE_LOG_PATTERN">%d %-5level: [%t %c:%L] -> %msg %throwable{short} %n</Property>
        <Property name="CLR">{FATAL=bright red, ERROR=red, WARN=bright yellow, INFO=green, DEBUG=white, TRACE=black}</Property>
        <Property name="LOG_CONSOLE_PATTERN">
            %highlight{%5p- %d{yy-MM-dd HH:mm:ss.SSS}}${CLR} %clr{${sys:PID}}{magenta}%clr{-}{faint}%clr{[%t]}{faint} %clr{%-40.40c{1.}}{cyan}  %highlight{: %m%n%xwEx}${CLR}
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_CONSOLE_PATTERN}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${LOG_PATH}/${ROLLING_FILE_NAME}.log"
                     filePattern="${LOG_PATH}/${ROLLING_FILE_NAME}_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>

                <TimeBasedTriggeringPolicy interval="10" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${LOG_PATH}" maxDepth="10">
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>

        <Logger name="ru.kidesoft.desktop" level="trace" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <Logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <Root level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>